{% if form.non_field_errors %}
  <div class="form-errors">{{ form.non_field_errors }}</div>
{% endif %}
{% for field in form %}
  <label class="form-field{% if field.errors %} has-field-error{% endif %}">
    <span>{{ field.label }}{% if not field.field.required %} <small>opcional</small>{% endif %}</span>
    {{ field }}
    {% if field.help_text %}<em>{{ field.help_text }}</em>{% endif %}
    {% for error in field.errors %}<strong class="field-error">{{ error }}</strong>{% endfor %}
  </label>
{% endfor %}
